.THIS tr > td:first-child, .THIS tr > th:first-child  {
	border-right: 1px solid #ccc;
}
.THIS .table td, .THIS .table th {
	text-align: center;
	padding: .5rem;
}
.THIS .active-score {
	border: 1px solid #ccc;
}
.THIS .active-score-label {
	vertical-align: middle;
	background: #343a40;
	color: #fff;
	font-size: .5rem;
}