.THIS.modal-overlay {
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(112, 35, 122, 0.8);
    overflow-y: auto;
}
.THIS .modal-container {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
}
.THIS .modal-helper {
    display: table-cell;
    padding: 1rem 0;
    vertical-align: middle;
}
.THIS .modal-card {
    width: 450px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.35);
    border: none;
    border-radius: 0;
    margin: 0 auto;
}
.THIS .modal-sucess-img {
	width: 200px;
}
.THIS .modal-sucess-icon {
	width: 20px;
}
.THIS .slds-spinner__dot-a:before, 
.THIS .slds-spinner__dot-b:before,
.THIS .slds-spinner__dot-a:after, 
.THIS .slds-spinner__dot-b:after,
.THIS .slds-spinner_large:before,
.THIS .slds-spinner_large:after {
    background: #b635ab;
}