.THIS {
    position: absolute;
    min-width: 100%;
}
.THIS, .THIS .columns > div, .THIS .columns > div > div {
    height: auto;
}
.THIS .h-custom {
    height: calc(100% - 97px);
}
/*Media Query*/
@media (min-width: 1200px) {
    .THIS .h-custom {
        height: calc(100% - 97px);
    }
    .THIS, .THIS .columns > div, .THIS .columns > div > div {
        height: 100%;
    }
}
@media (max-width: 1199px) {
    .THIS#wrapper {
        min-height: 100%;
    }
}