.THIS {
    background: linear-gradient(to top, #007991, #78ffd6);
}
.THIS  #error {
    text-align: center;
    color:#FF0000;
}
.THIS .uiButton--default .label {
    color: #fff;
}
.THIS  input {
    border: 0px solid transparent;
    width: 100%;
}
.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:#757575;
    text-decoration: none;
}
.THIS button {
    border: none;
    text-shadow: none;
}