.THIS .circle-container{
	width: 5vw;
    height: 5vw;
}
.THIS .circle-container > span{
	min-width: 35px;
	min-height: 35px;
}
@media (max-width: 1200px) {
	.THIS .overflow-y {
		overflow-y: hidden;
	}
}