.THIS.modal-overlay {
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(112, 35, 122, 0.8);
}
.THIS .modal-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 50%;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.35);
    border: none;
    border-radius: 0;
}
.THIS .alert-bets-img {
	width: 200px;
}
.THIS .alert-bets-icon {
	width: 20px;
}